body {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

#app {
    margin-top: 20px;
    padding: 0 40px 40px;
    border-radius: 5px;
    border: 1px solid white;
}



/*                                              justify-content: center;                                         */