.body{
    background: #070707;
    color: white;
    float: top;
}
.tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: -1px;
    margin-right: -1px;
    background: none;
    color: white;
}
.tab-button:hover {
    color: red;
    border: 1px solid red;
}
.tab-button.active {
    color: red;
    border: 1px solid red;
}
.tab {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}
.posts-tab {
    display: flex;
}
.posts-sidebar {
    max-width: 40vw;
    margin: 0;
    padding: 0 10px 0 0;
    list-style-type: none;
}
.posts-sidebar li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.posts-sidebar li:hover {
    background: #eee;
}
.selected-post-container {
    padding-left: 10px;
}
.selected-post > :first-child {
    margin-top: 0;
    padding-top: 0;
}
.user{
    font-size: x-large;
}
.container-fluid{
    width: 80%;
}