<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>vue</title>
    <script src=" https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
</head>
<body>

<div id="app">
    <h1>Bitcoin Price Index</h1>

    <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>

    <section v-else>
        <div v-if="loading">Loading...</div>

        <div
                v-else
                v-for="currency in info"
                class="currency"
        >
            {{ currency.description }}:
            <span class="lighten">
        <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
      </span>
        </div>

    </section>
</div>

<script src="functions.js"></script>
</body>
</html>