<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>vue</title>
    <script src=" https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
</head>
<body>

<div id="vue">

    <button type="button" @click="getHashtegs">axios</button>

    <ul>
        <li v-for="hashteg in hashtegs">{{ hashteg }}</li>
    </ul>

</div>

<!--<div id="test">-->
    <!--<div class="continer-fluid">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<button v-for="user in users" class="knop">-->
                    <!--<h3>{{user.title}}</h3>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="tab">-->
                <!--<ul>-->
                    <!--<template v-for="user in users">-->
                        <!--<h2>-->
                            <!--<li>ID: {{ user.id }}</li>-->
                            <!--<li>Имя: {{ user.name }}</li>-->
                            <!--<li>Фамилия: {{ user.fam }}</li>-->
                            <!--<li>Отчество: {{ user.otch }}</li>-->
                            <!--<li>должность: {{ user.post }}</li>-->
                        <!--</h2>-->
                    <!--</template>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<script src="functions.js"></script>
</body>
</html>